{
    "crypto": {
        "secretKey": "1234567890123456"
    },
    "vlc":{
        "allowedFilePaths": [
            "~/Documents"
        ],
        "allowedFileTypes": [
            "mp4",
            "mkv"
        ],
        "commandlineArguments": [
            "--fullscreen"
        ]
    },
    "websocket": {
        "allowedOrigins": [
            "*localhost*",
            "wss://192.168.0.*",
        ],
        "port": 9000
    }

}
